# Package directories
node_modules
packages/**/lib

# build or temporary outputs
out/
.webpack/
*.ignore.*

# Logs
logs
*.log
npm-debug.log

# Serverless Framework
.serverless

# IDE
**/.idea

# OS
.DS_Store
.tmp

# Coverage
coverage

.nvmrc
